#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
}

#buttonListing {
  text-align: center;
  margin-left: 35px;
  margin-top: 10px;
}

#jumbotron2 {
  width: 35%;
  padding: 5px;
}

.button:hover {
  background-color: gray;
}

h1 {
  font-family: monospace;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 60px;
}

h2 {
  margin-top: -40px;
  font-family: monospace;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 40px;
}

h6 {
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}
